html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	width: 100%;
	/**background-color : pink; **/
}


#container:fullscreen {
	width: 100%;
	height: 100%;
	background-color : lightgrey;
}

#container:-webkit-full-screen {
	width: 100%;
	height: 100%;
	background-color : lightgrey;
}
 

